<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="FILENAME">brm-result.csv</entry>
<entry key="STARTTIME">00:00:00</entry>
<entry key="LAPCOUNT_RESULT_FILENAME">LapCountResult.csv</entry>
</properties>
